.box{
    width: 200px;
    height: 200px;
    background-color: beige;
    border: 1px solid black;

    display: flex;
    justify-content: center;
    align-items: center;

    

    transition: all 2s linear ;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover{
    /* transform: rotate(360deg); */ 

    /* transform: scale(2); */

    /* transform: scale(0.5); */

    /* transform: rotate(-45deg); */

    /* transform: skew(30deg); */

    /* transform: translate(400px); */

    /* transform: translate(-400px); */

    transform: translate(200px, 200px);

}

p{
    font-size: 20px;
}